@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  font-family: 'Varela Round', sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}

.logo {
  color: #FF5A5F;
  width: 2em;
  margin-left: .5em;

}

.link-container {
  color: #000;
  flex: 2;
  position: absolute;
  right: 0;
  margin-right: 1em;

}

.nav-links {
  display: inline-block;
  padding: 1.5em .5em;
  font-size: 14px;
  border-bottom: 2px transparent #fff;

}

.nav-links:hover {
  border-bottom: 2px solid #000000;
  cursor: pointer;
}

.links-list {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.links-list li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid #b0b0b0;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 30px;
  margin: 5px;
}

.results-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 300px);
  height: auto;
  margin-top: 40px;
  padding: 20px;
}

.room-card {
  width: 240px;
  height: 275px;
  /* border: 1px solid red; */
}

.card-image {
  width: 240px;
  height: 160px;
  border-radius: 5px;
}

.tagline {
  display: flex;
  align-items: center;
}

.tagline p {
  margin-right: 15px;
  font-size: 12px;
  border: .5px solid #000;
  border-radius: 5px;
  padding: 4px;
}

.tagline small {
  color: #9f9f9f;
  margin-right: 15px;

}

.rating {
  margin-left: 45px;
}

.rating span {
  font-size: 12px;
}


/* .tagline {
  display: flex;
  position: relative;
}

.tagline p {
  border: .5px solid #000;
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;
  margin-top: 10px;
  margin: 10px 0px 0px 0px;
}

.tagline small {
  align-self: center;
  margin: 13px 0px 0px 15px;
  color: #9f9f9f;

} */

/* .rating-box {
  position: absolute;
  width: 60px;
  top: 16px;
  right: 0;
} */

.rating-box span {
  color: #9f9f9f;
  font-size: 14px;
}

.room-name {
  margin: 10px 0px;
}

.price {
  margin: 5px 0px 10px 0px;
}

/* .pricing>p {
  margin: 0;
} */